* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

#root {
    background-color: #eddfcb;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}


@media (max-width: 768px) {
    #root {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}